.Carousel {
    // width: 80%;
    // margin: auto;
    .CarouselItem {
        width: 100%;
        img {
            width: 100%;
            opacity: 0.3;
        }
        .CarouselCaption {
            h3 {
                // color: white !important;
            }
            p {
                // color: white !important;
            }
        }
    }
}