.certi-box {
    margin-bottom: 30px;
    width: 750px;
    border-radius: 20px !important;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    .title {
        font-weight: bolder;
        border-bottom: 1px solid gray;
        display: flex;
        justify-content: space-between;
        >p {
            margin: 0;
        }
    }
    .content {
        list-style: none;
        .item {
            text-align: right;
            .item_value {
                font-weight: bolder;
                display: none;
            }
            .item_tag {
                font-weight: bolder;
                color: gray;
                font-size: 0.8rem;
            }
        }
    }
    .btnBox {
        text-align: right;
        button {}
    }
}

.card_title {
    display: flex;
    // .urlBtn {}
}