.certiBox {
    margin-bottom: 30px;
    width: 100%;
    border-radius: 20px !important;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    .hd {
        // font-weight: bolder;
        // border-bottom: 1px solid gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        // background: #212529;
        // color: white;
        .title {}
    }
    .content {
        list-style: none;
        .item {
            text-align: right;
            margin: 10px;
            .itemValue {
                color: rgba(0, 0, 0, 0.8);
                margin: 0;
            }
            .itemTag {
                color: rgba(0, 0, 0, 0.5);
                font-size: 0.7rem;
            }
        }
    }
    button {
        font-size: 0.8rem;
        padding: 5px 10px;
        // background-color: #212529;
        //  :hover {
        // background-color: #222222;
        // }
    }
}