.container {
    width: 100%;
    height: 92vh;
    // box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    .section {
        // border: 1px solid black;
        padding-top: 40vh;
        margin-left: 7%;
    }
}