.container {
    padding: 150px 0;
    width: 100%;
    background: rgb(233, 233, 233);
    // border: 10px solid red;
    // .section {
    //     border: 1px solid black;
    //     padding-top: 40vh;
    //     margin-left: 5%;
    // }
}