.container {
    // border: 1px solid rgba(0, 0, 0, 0.5);
    // width: 80%;
    // margin: 0 5%;
    // margin: auto;
    // display: none;
    // justify-content: space-between;
    .cards {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}