    .card-outline {
        display: inline-block;
        width: 30%;
        .card {
            padding: 0 20px;
            display: inline-block;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
            border-radius: 25px;
            .profileImg {
                // height: 50%;
                width: 60%;
                display: inline-block;
                margin: 30px auto;
            }
            .card-body {
                height: 50%;
                .card-body_title {
                    // text-align: center;
                    font-size: 1rem;
                }
                .card-text {
                    font-size: 0.8rem;
                    p {}
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        li {
                            margin-right: 5px;
                        }
                    }
                }
                .btn-box {
                    width: 100%;
                    text-align: right;
                    .btn {
                        display: inline-block;
                        font-size: 0.8rem;
                        font-weight: bolder;
                    }
                }
            }
        }
    }