    .container {
        padding: 0 auto;
        height: 100vh;
        .background {
            // width: 80%;
            // height: 100vh;
            // margin: auto;
            // margin-bottom: 5vh;
            // padding: 5vh;
            // background: rgba(255, 255, 255, 1);
            .hd {
                // text-align: right;
                // margin: 10px;
                .kor {
                    color: rgba(0, 0, 0, 0.8);
                    margin: 0;
                    font-size: 1.2rem;
                }
                .eng {
                    color: rgba(0, 0, 0, 0.5);
                    font-size: 0.7rem;
                }
            }
            .certiList {
                width: 750px;
                margin: 5vh auto;
            }
        }
    }