.InfoTable {
    // width: 80%;
    // margin: auto;
    .InfoCategory {
        padding: 20px 50px;
        // margin: 5vh;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 5vh;
        background: white;
        .title {
            font-size: 1.2rem;
            margin-bottom: 3vh;
        }
        .row {
            display: none !important;
        }
        .InfoRow {
            padding: 10px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        }
        .InfoRow:last-child {
            border-bottom: none;
        }
        // ul {
        //     padding: 0;
        //     margin: 0;
        //     li {
        //         list-style: none;
        //         display: flex;
        //         border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        //         span {
        //             // margin-right: 10px;
        //         }
        //     }
        // }
    }
}